.header {
    max-width: 1800px;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.header .left-side {
    display: flex;
    gap: 65px;
    align-items: center;
}

.header .left-side .logo-container {
    display: flex;
    gap: 40px;
    align-items: center;
}

/* burger - menu */

.header .left-side .logo-container .burger-menu .burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.header .left-side .logo-container .burger-menu .burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 22px;
    height: 14px;
}

.header .left-side .logo-container .burger-menu .burger::before,
.header .left-side .logo-container .burger-menu .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
}

.header .left-side .logo-container .burger-menu .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.header .left-side .logo-container .burger-menu .burger::after {
    bottom: 6px;
    transition: bottom .3s .15s, transform .3s;
}

.header .left-side .logo-container .burger-menu .burger-checkbox:checked+.burger::before {
    top: 2px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
    width: 22px;
}

.header .left-side .logo-container .burger-menu .burger-checkbox:checked+.burger::after {
    bottom: 10px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.header .left-side .logo-container .logo {
    display: flex;
}

.header .left-side .menu {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    gap: 40px;
}

.header .left-side .menu .menu-item {
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
}

.header .left-side .menu .menu-item .arrow-hover,
.header .left-side .menu .menu-item.active .arrow-default,
.header .left-side .menu .menu-item:hover .arrow-default {
    display: none;
}

.header .left-side .menu .menu-item:hover,
.header .left-side .menu .menu-item.active {
    color: rgba(255, 142, 142, 1);
}

.header .left-side .menu .menu-item.active .arrow-hover,
.header .left-side .menu .menu-item:hover .arrow-hover {
    display: inline-block;
}

/* header right side */

.header .right-side {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.header .right-side .header-icon {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header .right-side .header-icon .counter {
    width: 18px;
    height: 18px;
    background: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding: 1px;
}