.shop {
    display: flex;
    gap: 50px;
}

/* sidebar search */

.shop .sidebar {
    padding: 1px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 244px;
    width: 100%;
}

.shop .sidebar .search {
    position: relative;
}

.shop .sidebar .search .search-row {
    padding: 0 25px 16px 0;
}

.shop .sidebar .search .search-icon {
    position: absolute;
    right: 0;
    top: 0;
}

.shop .sidebar input {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
}

/* sidebar categories */

.shop .sidebar .sidebar-item {
    max-width: 242px;
    width: 100%;
}

.shop .sidebar .sidebar-item .sidebar-title {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    padding: 0 0 14px 0;
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 30px 0;
}

.shop .sidebar .sidebar-item .categories-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 0 0 20px;
}

.shop .sidebar .sidebar-item .categories-list .category {
    color: rgba(68, 68, 68, 1);
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    height: 32px;
}

.shop .sidebar .sidebar-item .categories-list .category:hover {
    color: rgba(255, 142, 142, 1);
}

.shop .sidebar .sidebar-item .categories-list .category:active::before {
    color: rgba(255, 142, 142, 1);
    content: '';
    background-image: url(/icons/small-row.svg);
    display: block;
    width: 25px;
    height: 3px;
}

.shop .sidebar .sidebar-item .categories-list .category::before {
    content: '';
    background-image: url(/icons/square.svg);
    display: block;
    width: 5px;
    height: 5px;
}


.shop .sidebar .sidebar-item .categories-list .category.active {
    color: rgba(255, 142, 142, 1);
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;
}

.shop .sidebar .sidebar-item .categories-list .category.active::before {
    content: '';
    background-image: url(/icons/small-row.svg);
    display: block;
    width: 25px;
    height: 3px;
}

/* price */

.shop .sidebar .sidebar-item .sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.shop .sidebar .sidebar-item .sidebar-content .price-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

/* colors */

.shop .sidebar .sidebar-item .sidebar-content .colors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: 0 0 0 20px;
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* reviewed-products */

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products-list .reviewed-product {
    width: 100%;
    display: flex;
    gap: 15px;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products-list .reviewed-product .photo {
    width: 75px;
    height: 85px;
    background: radial-gradient(circle at center in hsl shorter hue,
            rgba(140, 11, 49, 0.5) 3.0921244221190545%,
            rgba(217, 217, 250, 0.8) 26.97631479245598%,
            rgba(113, 123, 94, 0.2) 90.07047940829918%);
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products-list .reviewed-product .info-about-product {
    max-width: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products-list .reviewed-product .info-about-product .name {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products-list .reviewed-product .info-about-product .price {
    font-family: Josefin Sans;
    display: flex;
    gap: 10px;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products-list .reviewed-product .info-about-product .price .current-price {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: rgba(0, 0, 0, 1);
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products-list .reviewed-product .info-about-product .price .old-price {
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    text-decoration: line-through;
}



/* color-checkbox */

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox+.color-name {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox+.color-name::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(68, 68, 68, 1);
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox:checked+.color-name {
    color: rgba(255, 142, 142, 1);
}


.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox:checked+.color-name::before {
    border-color: rgba(238, 238, 238, 1);
    background-color: rgb(255, 255, 255);
    background-image: url('/icons/check-pink.svg');
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .apply-button {
    max-width: 236px;
    width: 100%;
}

/* color-name */

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-name {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
}

.shop .sidebar .sidebar-item .sidebar-content .deploy-button {
    display: flex;
    gap: 15px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    color: rgba(255, 142, 142, 1);
}


/* products */

.shop .products-wrapper {
    max-width: 846px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 0 200px 0;
}

.shop .products-wrapper .sort-and-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
}

.shop .products-wrapper .sort-and-count .sort {
    max-width: 262px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.shop .products-wrapper .sort-and-count .sort .arrow-sort {
    position: absolute;
    right: 0;
    top: 8px;
}

.shop .products-wrapper .sort-and-count .sort select {
    width: 100%;
    height: 42px;
    padding: 0 0 18px 0;
    appearance: none;
    background: url('./icons/arrow-sort.svg') no-repeat calc(100%);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid rgba(68, 68, 68, 1);
}

/* products */

.shop .products-wrapper .products {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 30px;
}

.shop .products-wrapper .products .product {
    max-width: 262px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shop .products-wrapper .products .product .photo {
    height: 360px;
    position: relative;
    background: radial-gradient(circle at center in hsl shorter hue,
            rgba(140, 11, 49, 0.5) 3.0921244221190545%,
            rgba(217, 217, 250, 0.8) 26.97631479245598%,
            rgba(113, 123, 94, 0.2) 90.07047940829918%)
}

.shop .products-wrapper .products .product .top-bar {
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 222px;
    width: 100%;
}

.shop .products-wrapper .products .product .top-bar .labels {
    display: flex;
    gap: 10px;
    font-family: Raleway;
    font-size: 10px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
}

.shop .products-wrapper .products .product .top-bar .favorites {
    display: flex;
    align-items: center;
}

.shop .products-wrapper .products .product .top-bar .labels .label.sale {
    padding: 5px 10px;
    background-color: rgba(255, 142, 142, 1);
}

.shop .products-wrapper .products .product .top-bar .labels .label.new {
    padding: 5px 10px;
    background-color: rgba(149, 204, 181, 1);
}

.shop .products-wrapper .products .product .info-about-product {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.shop .products-wrapper .products .product .info-about-product .name {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
}

.shop .products-wrapper .products .product .info-about-product .price {
    display: flex;
    gap: 16px;
    font-family: Josefin Sans;
    align-items: center;
}

.shop .products-wrapper .products .product .info-about-product .price .current-price {
    font-size: 20px;
    font-weight: 400;
}

.shop .products-wrapper .products .product .info-about-product .price .old-price {
    font-size: 16px;
    font-weight: 300;
    text-decoration: line-through;
}

/* pagination */

.shop .products-wrapper .pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.shop .products-wrapper .pagination .pages {
    font-family: Raleway;
    font-size: 16px;
    display: flex;
    gap: 20px;
}

.shop .products-wrapper .pagination .pages .page {
    font-weight: 400;
    max-width: 10px;
    width: 100%;
    color: rgb(179, 179, 179);
    border-bottom: 3px solid rgb(179, 179, 179);
    height: 23px;
    line-height: 22px;
    padding: 0 9px 0 1px;

}

.shop .products-wrapper .pagination .pages .page.active {
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    border-bottom: 3px solid rgba(0, 0, 0, 1);
    height: 23px;
    line-height: 22px;
    padding: 0 15px 0 7px;
}

/* subscribe */

.newsletter-subscribe {
    max-width: 1680px;
    width: 100%;
    height: 450px;
    background-color: rgba(241, 242, 243, 1);
    margin: 0 126px 120px 114px;
}

.newsletter-subscribe .newsletter-subscribe-form {
    position: relative;
    max-width: 624px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    padding: 60px;
    margin: 0 0 162px 275px;
}

.newsletter-subscribe-button.black-button {
    max-width: 136px;
    width: 100%;
}

.newsletter-subscribe .newsletter-subscribe-form .newsletter-subscribe-form-email {
    border: none;
    border-bottom: 1px solid rgba(68, 68, 68, 1);
    max-width: 334px;
    width: 100%;
    padding: 0 0 16px 0;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
}

.newsletter-subscribe .pattern-dot-newsletter {
    position: absolute;
    left: 464px;
    bottom: 191px;
}