.shop {
    display: flex;
    gap: 50px;
}

/* sidebar */

.shop .sidebar {
    padding: 1px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 244px;
    width: 100%;
}

.shop .sidebar input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(68, 68, 68, 1);
    padding: 0 0 16px 0;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
}

.shop .sidebar .sidebar-item {
    max-width: 242px;
    width: 100%;
}


.shop .sidebar .sidebar-item .sidebar-title {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    padding: 0 0 14px 0;
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 400;
}

/* products */

.shop .products-wrapper {
    max-width: 846px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.shop .products-wrapper .sort-and-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
}

.shop .products-wrapper .sort-and-count .sort {
    max-width: 262px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.shop .products-wrapper .sort-and-count .sort select {
    width: 100%;
    height: 42px;
    padding: 2px;
    appearance: none;
    background: url('./icons/arrow-sort.svg') no-repeat calc(100%);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid rgba(68, 68, 68, 1);
}

/* products */

.shop .products-wrapper .products {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 30px;
}

.shop .products-wrapper .products .product {
    max-width: 262px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shop .products-wrapper .products .product .photo {
    height: 360px;
    position: relative;
    background: radial-gradient(circle at center in hsl shorter hue,
            rgba(140, 11, 49, 0.5) 3.0921244221190545%,
            rgba(217, 217, 250, 0.8) 26.97631479245598%,
            rgba(113, 123, 94, 0.2) 90.07047940829918%)
}

.shop .products-wrapper .products .product .top-bar {
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 222px;
    width: 100%;
}

.shop .products-wrapper .products .product .top-bar .labels {
    display: flex;
    gap: 10px;
    font-family: Raleway;
    font-size: 10px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
}

.shop .products-wrapper .products .product .top-bar .favorites {
    display: flex;
    align-items: center;
}

.shop .products-wrapper .products .product .top-bar .labels .label.sale {
    padding: 5px 10px;
    background-color: rgba(255, 142, 142, 1);
}

.shop .products-wrapper .products .product .top-bar .labels .label.new {
    padding: 5px 10px;
    background-color: rgba(149, 204, 181, 1);
}

.shop .products-wrapper .products .product .info-about-product {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.shop .products-wrapper .products .product .info-about-product .name {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
}

.shop .products-wrapper .products .product .info-about-product .price {
    display: flex;
    gap: 16px;
    font-family: Josefin Sans;
    align-items: center;
}

.shop .products-wrapper .products .product .info-about-product .price .current-price {
    font-size: 20px;
    font-weight: 400;
}

.shop .products-wrapper .products .product .info-about-product .price .old-price {
    font-size: 16px;
    font-weight: 300;
    text-decoration: line-through;
}

/* pagination */

.shop .products-wrapper .pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.shop .products-wrapper .pagination .pages {
    font-family: Raleway;
    font-size: 16px;
    display: flex;
    gap: 20px;
}

.shop .products-wrapper .pagination .pages .page {
    font-weight: 400;
    max-width: 10px;
    width: 100%;
    color: rgb(179, 179, 179);
    border-bottom: 3px solid rgb(179, 179, 179);
    height: 23px;
    line-height: 22px;
    padding: 0 9px 0 1px;

}

.shop .products-wrapper .pagination .pages .page.active {
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    border-bottom: 3px solid rgba(0, 0, 0, 1);
    height: 23px;
    line-height: 22px;
    padding: 0 15px 0 7px;
}



/* banner */

.shop .sidebar .banner {
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    border-style: inset;
}

.banner .banner-title {
    max-width: 148px;
    width: 100%;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}

.banner .banner-title span {
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
}

.banner .banner-text {
    max-width: 165px;
    width: 100%;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
}

.banner .banner-action {
    display: flex;
    gap: 14px;
    align-items: center;
}

.banner-action-line {
    max-width: 25px;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
}

.banner-action-text {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
}

/* subscribe */

.newsletter-subscribe {
    max-width: 1680px;
    width: 100%;
    height: 450px;
    background-color: rgba(241, 242, 243, 1);
    margin: 0 126px 120px 114px;
}

.newsletter-subscribe .newsletter-subscribe-form {
    position: relative;
    max-width: 624px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    padding: 60px;
    margin: 0 0 162px 275px;
}

.newsletter-subscribe-form-btn {
    border: none;
    background-color: rgba(0, 0, 0, 1);
    padding: 0 2px 0 0;
    color: rgba(255, 255, 255, 1);
    padding: 17px 30px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

.newsletter-subscribe-form-btn:after {
    height: 100%;
    content: ' ';
    top: 0;
    right: -4px;
    width: 2px;
    background-color: black;
    position: absolute;
}

.newsletter-subscribe .newsletter-subscribe-form .newsletter-subscribe-form-email {
    border: none;
    border-bottom: 1px solid rgba(68, 68, 68, 1);
    max-width: 334px;
    width: 100%;
    padding: 0 0 16px 0;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
}

.newsletter-subscribe .pattern-dot-newsletter {
    position: absolute;
    left: 464px;
    bottom: 191px;
}